<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        .container-fluid{
            margin-top: 20px;
            padding: 10px 20px;            
        }
        #logout_btn{
            background-color:#fdfdf9;
            color: #5c5e77;
            font-size: 10pt;
            font-weight: bold;
        }
        span{
            color: red;
        }
        h4{
            color: #5c5e77;
            font-size: 16pt;
            font-weight: bold;
            margin: 30px 10px 20px 10px;
            letter-spacing: 1px;
            padding-bottom: 5px;
        }
        body{
            background-color:#fdfdf9;
            color: #5c5e77;
            background-image: repeating-linear-gradient(135deg, #fdfdf9, #fdfdf9 2px, #f7f1e3 2px, #f7f1e3 4px)!important;
        }
        #friends{
            width: 300px;
            min-height: 500px;
            display: inline-block;
            vertical-align: top;
            background-color: #f7f1e3;
            margin: 0px 10px;
            padding: 10px;
        }
        #sitters{
            width: 800px;
            min-height: 500px;
            display: inline-block;
            vertical-align: top;
            background-color: #f7f1e3;
            margin: 0px 10px 0px 20px;
            padding: 10px;
        }
        img{
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 5px;
        }
        #friends p{
            display: inline-block;
        }
        .headline img{
            display: inline-block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 10px;
        }
        .headline h1{
            display: inline-block;
        }
        h6{
            color: #5c5e77;
            font-size: 10pt;
            font-weight: bold;
            margin: 20px 10px 20px 10px;
            /* text-align: center; */
        }
        a{
            color: #5c5e77;
        }
        .navbar.navbar-expand-lg.navbar-light.bg-light{
            background-color: #fdfdf9!important;
            border-bottom: 1px solid #e8e9ef;
        }
        .navbar-brand{
            font-weight: bold;
            color:#7ba4bf!important;
            letter-spacing: 1px;
        }
        .nav-link{
            color: #fdfdf9;
            font-weight: bold;
            font-size: 10pt;
            letter-spacing: 1px;
            margin: 0px 10px;
            padding: 10px 20px;
        }
        #profile_navlink{
            color:#f85f5c;
        }
        #manage_navlink{
            color:#edb367;
        }
        #edit_navlink{
            color:#87bab0;
        }
        #dash_navlink{
            color:#60658a;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/sitters/dashboard">FRIENDLY SITTER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" id="profile_navlink" href="/sitters/<%= current_sitter_user.id %>">MY PROFILE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="manage_navlink" href="/sitters/network/<%= current_sitter_user.id %>">MANAGE NETWORK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="edit_navlink" href="/sitters/edit/<%= current_sitter_user.id %>">EDIT ACCOUNT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="dash_navlink" href="/sitters/dashboard">DASHBOARD</a>
                </li>
            </ul>
            <span class="navbar-text">
                <% if current_sitter_user %>
                    <form action="/sessions/destroy/sitter" method="post">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" id="logout_btn" class="btn btn-light" value="Log Out">LOG OUT</button>
                    </form>
                <% end %>
            </span>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" id="friends">
                <h6>PARENTS IN YOUR NETWORK</h6>
                <% @parents_hired_by.each do |parent| %>
                    <img src="<%= asset_path("parent.png") %>" alt="parent">
                    <p><a href="/parents/<%= parent.id %>"><%= parent.first_name %></a></p>
                    <br>
                <% end %>
            </div>
            <div class="col-lg" id="sitters">
                <div class="headline">
                    <img src="<%= asset_path("sitter.png") %>" alt="sitter">
                    <h1>Welcome, <%= current_sitter_user.first_name %> <%= current_sitter_user.last_name %></h1>
                </div>
                <br>
                <h4>ALL PARENTS</h4>
                <span><%= flash[:errors] %></span>
                <br>
                <table class="table">
                    <tbody>
                        <% @parents.each do |parent| %>
                            <tr>
                                <td><img src="<%= asset_path("parent.png") %>" alt="parent"> <a href="/parents/<%= parent.id %>"><%= parent.first_name %> <%= parent.last_name %></a></td>
                                <td><%= parent.city %>, <%= parent.state %></td>
                                <td>
                                    <p>Link</p>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
</body>